<style type="text/css">
  /* Grabbed from here: http://www.456bereastreet.com/archive/201110/styling_button_elements_to_look_like_links/ */
  .current_user_signin_button {
      overflow:visible; /* Shrinkwrap the text in IE7- */
      margin:0;
      padding:0;
      border:0;
      background:transparent;
      font:inherit; /* Inherit font settings (doesn’t work in IE7-) */
      line-height:normal; /* Override line-height to avoid spacing issues */
      text-decoration:underline; /* Make it look linky */
      cursor:pointer; /* Buttons don’t make the cursor change in all browsers */
      -moz-user-select:text; /* Make button text selectable in Gecko */
  }
  /* Make sure keyboard users get visual feedback */
  .current_user_signin_button:hover,
  .current_user_signin_button:focus {
      color:#800000;
      background-color:#e3e0d1;
  }
  /* Remove mystery padding in Gecko browsers.
   * See https://bugzilla.mozilla.org/show_bug.cgi?id=140562
   */
  .current_user_signin_button::-moz-focus-inner {
      padding:0;
      border:0;
  }
</style>


<% if @users.any? %>
    <h1>Sign in as</h1>

    <% @users.each do |user| %>
      <%= form_tag @sign_in_url do %>
        <%= hidden_field_tag 'user_id', user.id %>
        <%= submit_tag ::CurrentUser.identifier_for(user), :class => 'current_user_signin_button' %>
      <% end %>
    <% end %>
 <% else %>
    <h1>Sign in</h1>

    Your database doesn't contain users. Please insert a few and reload the page.
 <% end %>