<h2>Sign in</h2>

<%#= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<%= form_tag :url => 'users/sign_in' do %>

  <ul id='resources'>
    <%= render :partial => 'resource', :collection => @resources, :locals => { :id_method_name => @id_method_name } %>
  </ul>

  <p><%#= f.label :email %><br />
  <%#= f.email_field :email %></p>

  <p><%= submit_tag "Sign in" %></p>
<% end %>
