<h2>Sign in</h2>

<%= form_for(@resource, :as => @resource_name, :url => session_path(@resource_name)) do |f| %>

  <p>
    <%= f.label @id_method_name %>
    <%= f.select @id_method_name, options_from_collection_for_select(@resources, @id_method_name, @id_method_name) %>
  </p>

  <p><%#= f.label :email %><br />
  <%#= f.email_field :email %></p>

  <p><%= f.submit "Sign in" %></p>
<% end %>
