<h2>Sign in</h2>

<%#= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<%= form_tag :url => 'users/sign_in' do %>
  <p><%#= f.label :email %><br />
  <%#= f.email_field :email %></p>

  <p><%= submit_tag "Sign in" %></p>
<% end %>
