<!DOCTYPE html>
<html>
<head>
  <title>CurrentUser</title>
  <%= stylesheet_link_tag    "current_user/application", :media => "all" %>
  <%= javascript_include_tag "current_user/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
